@model ForgotPasswordViewModel
@using APS.Resources
@{
    ViewData["Title"] = Label.OublieMotPasse;
}

<div class="top-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 form-box">
                <form asp-action="ForgotPassword" method="post">
                    <div class="form-top">
                        <div class="form-top-left">
                            @Label.OublieMotPasse
                        </div>
                    </div>
                    <div class="form-bottom">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Email" class="form-control" placeholder="@Label.Email..." />                         
                        </div>
                        <div class="btn-login">
                            <button type="submit" class="btn btn-custom">@Label.Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
