@using APS.Resources

@{
    ViewData["Title"] = @Label.ConfirmationMotPasseOublie;
}

<div class="top-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 form-box">
                <form asp-action="ForgotPassword" method="post">
                    <div class="form-top">
                        <div class="form-top-left">
                           @Label.ConfirmationMotPasseOublie
                        </div>
                    </div>
                    <div class="form-bottom">
                        <h5 class="customTitle">
                            @Message.CourrielReinitialiserMotPasse
                        </h5>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
