
@using APS.Resources
<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <h1 class="text-big">@Message.Lockout</h1>
                    </div>
                    <div class="form-bottom">
                       
                        <p>@Message.LockoutText</p>
                    </div>
            </div>
        </div>

    </div>
</header>
