@{
    ViewData["Title"] = "Réinitialiser le mot de passe: Confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Le mot de passe est réinitié <a asp-action="Login">revenir à la page de connexion</a>.
</p>
